* {
	box-sizing: border-box;
	color: #5b5b5b;
}

body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Muli', sans-serif;
}

body {
	display: grid;
	grid-template-rows: 64px 1fr;
}

header {
	display:grid;
	grid-template-columns: 1fr 50%;
	align-items: center;
	
	background:white;
	border-bottom: 1px solid rgb(219, 219, 219);
}

aside {
	display: none;
}

main {
	grid-row: 2;
	overflow: scroll;
	overflow-x: hidden;
}

footer {
	padding: 10px;
}

footer h6 {
	font-size: .7rem;
	color: grey;
	padding: 0;
	margin: 20px;
}

nav ul li button {
	display: flex;
	align-items: center;
	font-size: .9rem;
	font-weight: 600;
	background: none;
	border: none;
	cursor:pointer;
}

.nav-title {
	padding: 20px;
	font-size: .7rem;
}

nav ul li i{
	padding: 20px;
}

li {
	display: flex;
	align-items: center;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	cursor:pointer;
	color:rgb(22, 22, 22);
	height: 50px;
}

hr {
	margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: #f1f1f1;
}

.header-left {
	width: 180px;
	height: 100%;
    display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header-right button, .notes-input button {
	background: none;
    border: none;
    padding: 0;
	margin: 0;
	cursor:pointer;
}

.header-right {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.header-left span{
	font-size: 1.3rem;
    padding: 10px;
}

.hide-mobile{
	display: none;
}

.header-left i{
	padding: 20px;
}

li:hover {
	background-color: #f0efef;
}

.active {
	background-color:#feefc3;
}

.notes-input{
	display: flex;
	justify-content: space-around;
    align-items: center;

	border-radius: 10px;
	background-color: white;

	width: 90%;
	height: 60%;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 2px #a5a5a5;
}

.notes-input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
}

.input-txt {
	background: none;
    border: none;
	padding: 10px;
	width: 70%;
	height: 100%;
}

aside nav ul {
	padding: 0;
}

@media screen and (min-width: 900px) {

	body {
		grid-template-columns: 300px 1fr;
	}

	header {
		grid-template-columns: 180px auto 320px;
		grid-column: 1 / 3;
	}

	aside { 
		display: block;
		width: 300px;
		top: 4rem;
		padding-top: 10px;
		overflow: auto;
	}

	aside div {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 100%;
	}

	main {
		grid-column: 2;
		grid-row: 2;
	}

	.hide-mobile {
		display: block;
	}

	.header-center {
		background-color: rgb(243, 243, 243);
		display: flex;
		flex-flow: row nowrap;
		width: 70%;
		height: 70%;
		border-radius: 10px;
		margin-left: 80px;
	}

	.header-right {
		width: 320px;
	}

	.i-search {
		width: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		
	.header-input {
		width: 90%;
	}
	
	.input-txt {
		background: none;
		border: none;
		padding: 10px;
	}

	.notes-input-container {
		height: 7rem;
	}

	.notes-input {
		width: 50%;
		height: 45%;
	}
}
